$body-rgb-color: rgb(185, 211, 199);
$h1-rgb-color: rgb(159, 109, 15);
$content-rgb-color: rgb(90, 62, 11);
$button-rgb-color: rgb(164, 189, 109);
$box-shadow-rgb-color: rgb(128, 128, 128);
$button-border-rgb-color: rgb(180, 180, 176);
$button-hover-rgb-color: rgb(238, 235, 202);
$info-background-color: rgb(201, 228, 216);