h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex:1; 
    justify-content: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(159, 109, 15);
}

body {
    background-color: rgb(185, 211, 199);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5cm;
}

.a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.b {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; 
}

.c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.main {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(1, 3fr);
    
//     gap: 5px;
//     grid-auto-rows: minmax(250px, auto);
    border: 1px solid rgb(49, 112, 68);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.content {
    padding: 5px;
    margin: 5px;
    color: rgb(90, 62, 11);
    display: flex;
    justify-content: center;
    text-align: center;
}
p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(90, 62, 11);
}

ul {
    color: rgb(90, 62, 11);         
}

li { 
    list-style-type: none; 
}

#name {
    width: 200px,
}

#img {
    height: 315px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px gray;
}

#img:hover {
    opacity: 0.5;
}

#videogames {
    width: 100%;
}

#id-number, #page-number, #name-search {
    width: 130px;
}

.grow:hover { 
    transform: scale(1.1); 
    background-color: rgb(238, 235, 202);
    }

.grow {
    width: 10em;
    height: 3em;
    border-radius: 6px;
    border-color: rgb(180, 180, 176);
    background-color: rgb(164, 189, 109);
    box-shadow: 2px; 
    box-shadow: 5px 5px 15px gray;   
}


