@charset 'utf-8';
@use 'sass-utils' as *;

body {
    background-color: $body-rgb-color;
    font-family: $body-font-family;
    font-size: $body-font-size;

    h1 {
        @include h1;
        font-family: $h1-font-family;
        color: $h1-rgb-color;
    }

    .main {
        @include main-grid;
        @include main-pm;

        .a {
            @include flex-section;
        
            #name {
                width: $width-name-info;
            }

            #img {
                @include img-button;
                box-shadow: 8px 8px 15px $box-shadow-rgb-color;
            
                &:hover {
                    opacity: $img-button-opacity;
                }
            }
        }

        .b {
            @include flex-section;

            #videogames {
                width: $width-videogames-info;
            }
        }

        .c {
            @include flex-section;

            #id-number, #page-number, #name-search {
                @include input-search;   
            }

            ul {
                color: $content-rgb-color; 
                
                li { 
                    list-style-type: $list-style; 
                }
            }
        }

        .grow {
            @include button;
            border-color: $button-border-rgb-color;
            background-color: $button-rgb-color;
            box-shadow: 5px 5px 15px $box-shadow-rgb-color; 
            
            &:hover { 
                transform: $grow-hover-transform; 
                background-color: $button-hover-rgb-color;
                }
        }

        .content {
            @include content-pm;
            color: $content-rgb-color;
            @include flex-content;
        }
        
        p {
            @include flex-content;
            color: $content-rgb-color;
        }
   
    }
    .footer {
        @include flex-content;
        color: $h1-rgb-color;
        font-size: 0.4cm;
        
    }

}
